.custom-scrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-gray-60) var(--color-gray-100);
}
.custom-scrollbar::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.8rem;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-60);
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-60);
}
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: inherit;
}

.button {
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    /* width: fit-content; */

    cursor: pointer;
    color: var(--color-bg-0);
    font-size: 1.2rem;
    font-weight: 590;

    border-radius: 0.6rem;
    background: var(--color-blue-50);

    box-shadow: 0rem 0.1rem 0.8rem 0rem rgba(0, 0, 0, 0.02), 0rem 0.2rem 1.2rem 0rem rgba(0, 0, 0, 0.03);

    display: flex;
    align-items: center;
    outline: none;
    border: none;
    line-height: 130%;
    text-transform: uppercase;
}

.button:hover {
    background: var(--color-blue-40);
    box-shadow: 0rem 0rem 0rem 0.1rem rgba(0, 0, 0, 0.04), 0rem 0.1rem 0.6rem 0rem rgba(0, 0, 0, 0.04),
        0rem 0.2rem 1.2rem -0.1rem rgba(0, 0, 0, 0.06);
}

.button .svg_button path {
    stroke: var(--color-bg-0);
}

.button .svg_button {
    margin-right: 0.6rem;
}

.button.button--large {
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
}

.button.button--large .svg_button {
    width: 2.4rem;
    height: 2.4rem;
}

.button.button--small {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
}

.button.button--small .svg_button {
    width: 1.6rem;
    height: 1.6rem;
}

.button.button--shade {
    border: 0.1rem solid var(--color-gray-90);
    background: var(--color-gray-100);
    width: fit-content;
}

.button.button--gray {
    color: var(--text-text-me);
    border: 0.1rem solid var(--accent-line);
    background: var(--surface-surface-lo);
    box-shadow: 0rem 0.1rem 0.8rem 0rem rgba(0, 0, 0, 0.02), 0rem 0.2rem 1.2rem 0rem rgba(0, 0, 0, 0.03);
}

.button.button--shade:hover {
    border: 0.1rem solid var(--color-gray-90);
    background: var(--color-bg-4);
}

.button.button--shade .svg_button path {
    stroke: var(--color-gray-30);
}

.button.button--shade span {
    color: var(--color-gray-30);
}

.button.button--ghost {
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: none;
    color: var(--color-blue-50);
}

.button.button--ghost:hover {
    color: var(--color-blue-30);
}

.button.button--ghost .svg_button path {
    stroke: var(--color-blue-50);
}
.button.button--ghost:hover .svg_button path {
    stroke: var(--color-blue-30);
}

.button.button--ghost span {
    color: var(--color-blue-50);
}

.button.button--ghost:hover span {
    color: var(--color-blue-30);
}

.button__feature {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.button__feature span {
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    /* background: url(../images/background-button.png); */

    background-size: cover;
    text-shadow: 0rem 0.21861326694488525rem 0.2462858200073242rem 0rem rgba(23, 63, 164, 0.13),
        0rem 0.5253580570220947rem 0.5918591022491455rem 0rem rgba(23, 63, 164, 0.19),
        0rem 0.98920259475708rem 1.1144181251525879rem 0rem rgba(23, 63, 164, 0.24),
        0rem 1.764568328857422rem 1.9879314422607422rem 0rem rgba(23, 63, 164, 0.29),
        0rem 3.3004310607910156rem 3.7182071685791016rem 0rem rgba(23, 63, 164, 0.35),
        0rem 7.9rem 8.9rem 0rem rgba(23, 63, 164, 0.48);
    background-blend-mode: normal, soft-light, normal;

    color: var(--color-bg-0);
    font-size: 1.6rem;

    font-weight: 700;
    line-height: 150%;
    box-shadow: 0rem 0.08127129077911377rem 0.3356778383255005rem 0rem rgba(22, 75, 193, 0.26),
        0rem 0.1951683759689331rem 0.8661187171936035rem 0rem rgba(22, 75, 193, 0.19),
        0rem 0.37375617027282715rem 1.6680936813354492rem 0rem rgba(22, 75, 193, 0.15),
        0rem 0.6786806106567383rem 2.8189308166503906rem 0rem rgba(22, 75, 193, 0.13),
        0rem 1.2266701698303223rem 4.366371536254883rem 0rem rgba(22, 75, 193, 0.11),
        0rem 2.2rem 6.3rem 0rem rgba(22, 75, 193, 0.07);
}

.button__feature img {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    padding: 1.2rem;
}

.tab {
    display: inline-flex;
    align-items: center;
    padding: 0rem 1.6rem;

    border-radius: 0rem 0.4rem 0rem 0rem;
    background: var(--color-bg-2);
    position: relative;
    cursor: pointer;
}

.tab > * {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.tab::before {
    content: "";
    width: 3.1524rem;
    height: 0.55rem;

    position: absolute;
    top: -0.5rem;
    left: 0rem;

    background: inherit;
    border-top-left-radius: 2rem;
    border-top-right-radius: 5rem;
}

.tab span {
    color: var(--color-gray-50);

    font-size: 1.4rem;

    font-weight: 590;
    line-height: 140%;
}

.tab.active,
.tab.rename {
    background: var(--color-blue-50);
}

.tab.active span {
    color: var(--color-bg-0);
}

.tab.active path,
.tab.rename path {
    stroke: var(--color-bg-0);
}

.tab.rename input {
    margin-right: 0.6rem;
    border: none;
    outline: none;
    width: 5rem;
    font-size: 1.4rem;

    font-weight: 590;
    line-height: 140%;

    background: var(--color-blue-30);
    color: var(--color-bg-0);
}

.checkbox {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;

    border-radius: 0.2rem;
    border: 0.15rem solid var(--color-gray-80);
    background: var(--color-bg-0);
}

.dropdown {
    position: relative;
    display: inline-block;

    border-radius: 0.4rem;
}

.dropdown__select {
    box-shadow: 0rem 0.1rem 0.8rem 0rem rgba(0, 0, 0, 0.02), 0rem 0.2rem 1.2rem 0rem rgba(0, 0, 0, 0.03);
    width: 100%;
    min-width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1.2rem 1.6rem;
    border-radius: 0.4rem;
    border: 0.1rem solid var(--accent-line);
    background: var(--color-bg-0);
}

.dropdown__value {
    margin-right: 0.8rem;
    flex: 1 0 0;
    color: var(--text-text-hi);
    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;
}

/* Dropdown icon */
.dropdown__icon {
    display: flex;
    align-items: center;
}
.dropdown__icon img {
    width: 1.6rem;
    height: 1.6rem;
}

.dropdown__icon img path {
    stroke: var(--text-text-hi);
}

.dropdown__list {
    position: absolute;
    top: calc(100% + 0.4rem);
    left: 0;
    width: 100%;
    display: none;

    border-radius: 0.4rem;
    border: 0.1rem solid var(--accent-line);
    background: var(--color-bg-0);
}

.dropdown__item {
    display: flex;
    align-items: center;
    padding: 1.2rem 1.6rem;
    cursor: pointer;
    border-radius: 0.4rem;
    transition: background-color 0.2s ease-in-out;

    color: var(--text-text-hi);
    font-size: 1.4rem;
}

.dropdown__item:hover {
    background-color: var(--color-gray-100);
}

.dropdown.open .dropdown__list {
    display: block;
}

.dropdown.disabled {
    pointer-events: none;
}

.dropdown.disabled .dropdown__select {
    background: var(--color-bg-2);
    border: 0.1rem solid var(--color-gray-90);
}

.dropdown.disabled .dropdown__value {
    color: var(--color-gray-70);
}

.button__feature {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.6rem;
    background: linear-gradient(270deg, #1c62ed 34.84%, rgba(71, 126, 235, 0) 100%), lightgray 50% / cover no-repeat;
    background-blend-mode: NORMAL, OVERLAY;
    box-shadow: 0rem 0.08127129077911377rem 0.3356778383255005rem 0rem rgba(22, 75, 193, 0.26),
        0rem 0.1951683759689331rem 0.8661187171936035rem 0rem rgba(22, 75, 193, 0.19),
        0rem 0.37375617027282715rem 1.6680936813354492rem 0rem rgba(22, 75, 193, 0.15),
        0rem 0.6786806106567383rem 2.8189308166503906rem 0rem rgba(22, 75, 193, 0.13),
        0rem 1.2266701698303223rem 4.366371536254883rem 0rem rgba(22, 75, 193, 0.11),
        0rem 2.2rem 6.3rem 0rem rgba(22, 75, 193, 0.07);
}

.button__feature span {
    display: flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    width: 100%;

    color: var(--color-bg-0);
    text-shadow: 0rem 0.21861326694488525rem 0.2462858200073242rem 0rem rgba(23, 63, 164, 0.13),
        0rem 0.5253580570220947rem 0.5918591022491455rem 0rem rgba(23, 63, 164, 0.19),
        0rem 0.98920259475708rem 1.1144181251525879rem 0rem rgba(23, 63, 164, 0.24),
        0rem 1.764568328857422rem 1.9879314422607422rem 0rem rgba(23, 63, 164, 0.29),
        0rem 3.3004310607910156rem 3.7182071685791016rem 0rem rgba(23, 63, 164, 0.35),
        0rem 7.9rem 8.9rem 0rem rgba(23, 63, 164, 0.48);

    font-size: 1.6rem;

    font-weight: 700;
    line-height: 150%;
}

.button__feature > div {
    display: flex;
    padding: 1.2rem;
    border-left: 0.1rem solid var(--color-blue-20);
}

.button__feature img {
    width: 2.4rem;
    height: 2.4rem;
}

.button__feature img path {
    stroke: var(--color-bg-0);
}

/* chart */
.chart {
    display: flex;
    flex-direction: column;
    min-width: fit-content;

    padding: 2.4rem;
    border-radius: 2rem;
    border: 0.2rem solid var(--surface-surface-lo);
    background: var(--surface-surface-hi);

    box-shadow: 0rem 0.6rem 1.6rem 0rem rgba(0, 0, 0, 0.02), 0rem 1.2rem 2.8rem -0.8rem rgba(0, 0, 0, 0.06);
}

.chart__title {
    color: var(--text-text-hi);

    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 140%;

    margin-bottom: 2.4rem;
}

.chart__body {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
}

.chart__comment {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-shrink: 0;
}

.chart__comment--item {
    min-width: max-content;
    display: flex;
    align-items: center;

    margin-bottom: 0.8rem;
}

.chart__comment--item:last-child {
    margin-bottom: 0;
    margin-top: auto;
}

.chart__comment hr {
    width: 100%;
    height: 0.1rem;
    background: var(--accent-line);
    border: none;
    margin: 1.6rem 0;
}

.chart__comment--color {
    width: 2.4rem;
    height: 0.4rem;
    border-radius: 10rem;
    background: #01cfc2;

    margin-right: 0.8rem;
}

.chart__comment--color.color__green {
    background: #01cfc2;
}

.chart__comment--color.color__blue {
    background: #4b71f1;
}

.chart__comment--color.color__orange {
    background: #ef854b;
}

.chart__comment--color.color__red {
    background: #e24d28;
}

.chart__comment--title {
    color: var(--text-text-low);

    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;

    margin-right: 0.8rem;
}

.chart__comment--number {
    flex: 1;
    color: var(--text-text-hi);

    font-size: 1.4rem;

    font-weight: 700;
    line-height: 140%;
}

.chart__content {
    height: 15rem;

    margin-right: 2.4rem;
}

.status {
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem;
    justify-content: center;
    border-radius: 10rem;
    background: var(--surface-surface-me);
}

.status__icon {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.6rem;
    background: #9196a1;
    border-radius: 50%;

    display: flex;
    align-items: center;
}

.status__text {
    color: var(--text-text-me);
    text-transform: uppercase;

    font-size: 1.2rem;

    font-weight: 500;
    line-height: 124%;
    letter-spacing: 0.048rem;
}

.status.status--green {
    background: var(--surface-surface-green);
}

.status.status--green .status__icon {
    background: var(--accent-green);
}

.status.status--green .status__text {
    color: var(--accent-green);
}

.status.status--red {
    background: var(--surface-surface-red);
}

.status.status--red .status__icon {
    background: var(--accent-red);
}

.status.status--red .status__text {
    color: var(--accent-red);
}

.fileUpload {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.4rem;
}

.fileUpload__image {
    width: 27rem;
    margin-bottom: 2.4rem;
}

.fileUpload__content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.fileUpload__content--title {
    color: #313335;
    font-size: 1.4rem;
    font-weight: 510;
    line-height: 140%;
}

.fileUpload__content--title span {
    color: var(--color-blue-40);
}

.fileUpload__content--subtitle {
    color: var(--text-text-low);

    font-size: 1rem;

    font-weight: 510;
    line-height: 160%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr {
    height: 5.6rem;
    border-bottom: 0.1rem solid var(--accent-line);
}

.table td,
.table th {
    padding: 1.2rem;
}

.col__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col__checkbox > span {
    color: var(--text-text-hi);

    font-size: 1.4rem;

    font-weight: 700;

    line-height: 140%;
}

.col__checkbox img {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
}

.col__head {
    display: flex;
    align-items: center;
}

.col__head img {
    width: 1.8rem;
    height: 1.8rem;
}

.col__head > span {
    margin-left: 0.6rem;
    color: var(--text-text-hi);

    font-size: 1.4rem;

    font-weight: 700;
    line-height: 140%;
}

.col__name.col__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.col__name.col__button button {
    margin-right: 1.2rem;
}

.col__name.col__button button:last-child {
    margin-right: 0;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    border-right: 0.1rem solid var(--accent-line);
}

.td__name {
    color: var(--text-text-hi);

    font-size: 1.4rem;

    font-weight: 700;
    line-height: 140%;
}

.td__phone {
    color: var(--text-text-hi);

    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;
}

.td__note {
    overflow: hidden;
    color: var(--text-text-low);
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;
}

.td__button {
    display: flex;
    justify-content: flex-end;
}

table tr {
    border-left: 0.4rem solid transparent;
}

tr.active {
    border-left: 0.4rem solid var(--accent-brand);
    background: var(--surface-surface-me);
}

.addNew {
    width: fit-content;
    display: flex;
    align-items: center;

    height: 5.6rem;

    cursor: pointer;
}

.addNew__icon {
    margin-left: 5.6rem;

    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 0.1rem dashed var(--color-gray-50);
    margin-right: 2.4rem;
}

.addNew__icon img {
    width: 2.4rem;
    height: 2.4rem;
}

.addNew__content {
    color: var(--color-gray-50);

    font-size: 1.2rem;

    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pagination__content {
    display: flex;
    align-items: center;

    margin-bottom: 0.8rem;
}

.pagination__content > li:not(:last-child) {
    margin-right: 1.2rem;
}

.pagination__numb,
.pagination__dots {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;

    cursor: pointer;
}

.pagination__numb:hover {
    color: var(--accent-brand);
}

.pagination__active {
    color: var(--accent-brand);
}

.pagination__prev {
    display: flex;
    align-items: center;

    width: 1.6rem;
    height: 1.6rem;
}

.pagination__next {
    display: flex;
    align-items: center;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0;
}

.pagination__prev,
.pagination__next {
    cursor: pointer;
}

.pagination__btn svg path {
    fill: var(--text-text-low);
}

.pagination__btn:hover svg path {
    fill: var(--accent-brand);
}

.pagination__statistics {
    color: var(--color-gray-50);
    font-size: 1.4rem;

    font-weight: 600;
    line-height: 140%;
}

.pagination__statistics span {
    color: var(--text-text-hi);
    font-weight: 700;
}

.process {
    display: flex;
    align-items: center;
}

.process__item {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 0.4rem;

    margin-right: 0.4rem;
}

.process__item:last-child {
    margin-right: 0;
}

.process__item.active {
    padding: 0.6rem 1rem;
}

.process__item--content {
    color: var(--text-text-low);
    font-size: 1.2rem;

    font-weight: 510;
    line-height: 130%;
    margin-bottom: 0.4rem;
}

.process__item.active .process__item--content {
    color: var(--accent-brand);
}

.process__item--bar {
    width: 2.4rem;
    height: 0.4rem;
    border-radius: 0.4rem;
    background: var(--surface-surface-lo);
}

.process__item.active .process__item--bar {
    width: 6rem;
    position: relative;
}

.process__item.active .process__item--bar--active {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 0.4rem;
    border-radius: 0.4rem;
    background: linear-gradient(90deg, #0b53d2 0%, #98ffff 63.31%);
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
    color: var(--accent-brand);
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@media screen and (max-width: 1660px) {
    .chart {
        padding: 1.6rem;
    }
}
