.dashboard {
    display: flex;
    padding: 24px;
    flex-direction: column;
    border-radius: 16px;
    background: var(--surface-surface-hi);
    backdrop-filter: blur(20px);

    width: 100%;
}

.dashboard__title {
    color: var(--text-text-hi);

    font-size: 24px;
    font-family: SF Pro;
    font-weight: 700;
    line-height: 140%;

    text-transform: uppercase;

    margin-bottom: 24px;
}

.dashboard__chart {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
}

.dashboard__chart--item {
    width: calc(100% / 3 - 16px);
}

.dashboard__menu {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
    border-bottom: 1px solid var(--accent-line);
}

.dashboard__tab {
    display: flex;
    align-items: center;
}

.dashboard__tab--item {
    margin-right: 4px;
}

.dashboard__menu--group {
    display: flex;
    align-items: center;
}

.dashboard__menu--search {
    display: flex;
    align-items: flex-start;
    margin-right: 24px;
}

.dashboard__menu--search img {
    width: 18px;
    height: 18px;
}

.dashboard__menu--search input {
    margin-left: 4px;
    color: var(--color-gray-50);

    font-size: 14px;

    font-weight: 510;
    line-height: 140%;

    background: transparent;
    border: none;
    outline: none;
    width: 70px;
}

.dashboard__menu--arrange {
    margin-right: 24px;
}

.dashboard__list--item {
    display: none;
    position: relative;
}

.dashboard__list--item.active {
    display: block;
}

.dashboard__addNew {
    margin-bottom: 24px;
}

.dashboard__selected {
    width: fit-content;
    display: flex;
    align-items: center;

    border-radius: 4px;
    background: var(--surface-surface-hi);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 8px 0px rgba(0, 0, 0, 0.04),
        0px 4px 16px -2px rgba(0, 0, 0, 0.08);

    position: absolute;
    left: 70px;
    top: 12.977px;
    cursor: pointer;
    display: none;
}

.dashboard__selected.active {
    display: flex;
}

.dashboard__selected--content {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    border-right: 1px solid var(--accent-line);
    color: var(--accent-brand);
    font-size: 14px;

    font-weight: 590;
    line-height: 140%;
}

.dashboard__selected--content span {
    margin-left: 4px;
}

.dashboard__selected--icon {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
}

.dashboard__selected--icon img {
    width: 16px;
    height: 16px;
}
