.dashboard {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;
    border-radius: 1.6rem;
    background: var(--surface-surface-hi);
    backdrop-filter: blur(2rem);

    width: 100%;
}

.dashboard__header {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
}

.dashboard__title {
    color: var(--text-text-hi);

    font-size: 2.4rem;

    font-weight: 700;
    line-height: 140%;

    text-transform: uppercase;

    margin-right: 2.4rem;
}

.dashboard__license {
    display: flex;
    padding: 0.4rem 0.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    background: var(--surface-surface-lo);
    cursor: pointer;

    position: relative;
}

.dashboard__license--title {
    color: var(--text-text-hi);
    font-size: 1.2rem;
    font-family: "SF Mono";

    font-weight: 700;
    line-height: 124%;
    letter-spacing: 0.048rem;

    margin-right: 0.6rem;
}

.dashboard__license--icon {
    display: flex;
    align-items: center;

    width: 1rem;
    height: 1rem;
}

.license {
    display: none;
    width: 37.8rem;
    padding: 2rem;
    flex-direction: column;

    border-radius: 1.6rem;
    background: var(--color-surface-bg);
    box-shadow: 0rem 0rem 0rem 0.1rem rgba(0, 0, 0, 0.04), 0rem 0.2rem 0.8rem 0rem rgba(0, 0, 0, 0.08);

    position: absolute;
    top: 0;
    left: calc(100% + 0.4rem);
}

.license.active {
    display: flex;
}

.license__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid var(--accent-line);
}

.license__title {
    color: var(--text-text-hi);

    font-size: 1.8rem;

    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
}

.license__infor {
    color: var(--text-text-hi);

    font-size: 1.2rem;

    font-weight: 510;
    line-height: 130%;
}

.license__body {
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
}

.license__list {
    display: flex;
    flex-direction: column;
}

.license--item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1.2rem;
}

.license--item:last-child {
    margin-bottom: 0;
}

.license--item__title {
    width: 18.5rem;
    color: var(--text-text-low);

    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;
}

.license--item__content {
    flex: 1;
    color: var(--text-text-hi);

    font-size: 1.4rem;

    font-weight: 700;
    line-height: 140%;
}

.dashboard__chart {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-bottom: 2.4rem;
}

.dashboard__chart--item {
    width: calc(100% / 3 - 1.6rem);
}

.dashboard__menu {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2.4rem;
    border-bottom: 0.1rem solid var(--accent-line);
}

.dashboard__tab {
    display: flex;
    align-items: center;

    position: relative;
}

.dashboard__tab--popup {
    position: absolute;
    top: 3.8rem;
    left: 0rem;
    z-index: 2;
    background-color: var(--color-surface-bg);

    display: none;
    flex-direction: column;
    background-color: var(--color-surface-bg);

    padding: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0rem 0rem 0rem 0.1rem rgba(0, 0, 0, 0.04), 0rem 0.2rem 0.8rem 0rem rgba(0, 0, 0, 0.04),
        0rem 0.4rem 1.6rem -0.2rem rgba(0, 0, 0, 0.08);
}

.dashboard__tab--popup.active {
    display: flex;
}

.dashboard__tab--popup--item {
    display: flex;
    width: 17.7rem;
    padding: 0.6rem 1.6rem;
    align-items: center;
    gap: 0.6rem;

    border-radius: 0.4rem;

    font-size: 1.4rem;
    color: var(--text-text-hi);
    font-weight: 500;
    line-height: 1.8rem;
    cursor: pointer;
}

.dashboard__tab--popup--item:last-child {
    border-top: 0.1rem solid var(--accent-line);
}

.dashboard__tab--popup--item:last-child:hover {
    background: var(--accent-red);
}

.dashboard__tab--popup--item:hover {
    background: var(--accent-brand);
    color: #f9fafb;
}

.dashboard__tab--item {
    margin-right: 0.4rem;
    display: flex;
    align-items: center;
}

.dashboard__tab--icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0.6rem;
}

.dashboard__tab--icon svg path {
    stroke: var(--color-gray-50);
}

.dashboard__menu--group {
    display: flex;
    align-items: center;
}

.dashboard__menu--search {
    display: flex;
    align-items: flex-start;
    margin-right: 2.4rem;
}

.dashboard__menu--search img {
    width: 1.8rem;
    height: 1.8rem;
}

.dashboard__menu--search input {
    margin-left: 0.4rem;
    color: var(--color-gray-50);

    font-size: 1.4rem;

    font-weight: 510;
    line-height: 140%;

    background: transparent;
    border: none;
    outline: none;
    width: 7rem;
}

.dashboard__menu--arrange {
    margin-right: 2.4rem;
}

.dashboard__list {
    margin-bottom: 1.6rem;
}

.dashboard__list--item {
    display: none;
    position: relative;
}

.dashboard__list--item.active {
    display: block;
}

.dashboard__addNew {
    margin-bottom: 2.4rem;
}

.dashboard__selected {
    width: fit-content;
    display: flex;
    align-items: center;

    border-radius: 0.4rem;
    background: var(--surface-surface-hi);
    box-shadow: 0rem 0rem 0rem 0.1rem rgba(0, 0, 0, 0.04), 0rem 0.2rem 0.8rem 0rem rgba(0, 0, 0, 0.04),
        0rem 0.4rem 1.6rem -0.2rem rgba(0, 0, 0, 0.08);

    position: absolute;
    left: 7rem;
    top: 1.2977rem;
    cursor: pointer;
    display: none;
}

.dashboard__selected.active {
    display: flex;
}

.dashboard__selected--content {
    display: flex;
    padding: 0.8rem 1.2rem;
    align-items: center;
    border-right: 0.1rem solid var(--accent-line);
    color: var(--accent-brand);
    font-size: 1.4rem;

    font-weight: 590;
    line-height: 140%;
}

.dashboard__selected--content span {
    margin-left: 0.4rem;
}

.dashboard__selected--icon {
    display: flex;
    padding: 0.8rem 1.2rem;
    justify-content: center;
    align-items: center;
}

.dashboard__selected--icon img {
    width: 1.6rem;
    height: 1.6rem;
}

.dashboard__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
}

@media screen and (max-width: 1660px) {
    .dashboard__chart--item {
        width: calc(100% / 3 - 0.5rem);
    }
}
