:root {
    --color-blue-50: #237ee7;
    --color-blue-40: #4794eb;

    --color-bg-0: #fff;
    --color-bg-2: #f4f5f6;

    --color-gray-00: #2b323b;
    --color-gray-05: #2b323b;
    --color-gray-10: #3c4753;
    --color-gray-30: #5e6f82;
    --color-gray-50: #8998a9;
    --color-gray-100: #f9fafb;

    --color-green-05: #e8f7e9;
    --color-green-50: #47c24e;

    --width--container: 144rem;
    --width-sidebar: 16rem;
    --width-infor: 26rem;
    --width-content: calc(100% - var(--width-sidebar) - var(--width-infor));
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Slab", sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    line-height: 1.3;
}

body {
    font-size: 1rem;
    color: var(--color-gray-50);
    background: var(--color-bg-2);

    transition: all 0.3s ease-in-out;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    width: var(--width--container);
    min-height: 100vh;
    align-items: flex-start;

    margin: 0 auto;
}

.sidebar {
    display: flex;
    padding: 4rem 0;
    width: var(--width-sidebar);
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;

    flex-shrink: 0;
    align-self: stretch;

    background-color: var(--color-bg-0);
}

.sidebar_logo {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1.6rem;

    margin-bottom: 3.2rem;
}

.sidebar_logo h3 {
    color: var(--color-gray-05);
    font-size: 1.4rem;
    font-weight: 500;

    letter-spacing: 0.056rem;
}

.sidebar_logo span {
    color: var(--color-gray-05);

    font-size: 1rem;
    font-weight: 510;

    opacity: 0.699999988079071;
    margin-left: 0.4rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar__item {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 2.4rem 1.6rem;
    border-top: 1px solid #e7eaee;
    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__item--logo {
    padding: 0.8rem;

    display: flex;
    align-items: center;
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;

    position: relative;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__item--text {
    color: var(--color-gray-30);

    font-size: 1.4rem;

    font-weight: 700;
    line-height: 140%;

    transition: color 0.3s ease;
}

.navbar__item.active {
    background: var(--color-blue-50);

    background-color: var(--color-blue-50);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar__item.active .navbar__item--text {
    color: var(--color-gray-100);
}

.navbar__item.active .navbar__item--logo {
    color: var(--color-gray-100);
    background-color: var(--color-blue-40);
}

.navbar__item.active svg path {
    stroke: var(--color-gray-100);
    transition: stroke 0.3s ease;
}

/* content */
.content {
    width: var(--width-content);

    display: flex;
    padding: 4rem;
    flex-direction: column;

    background-color: var(--color-bg-2);
}

.content__title {
    color: var(--color-gray-10);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
}

.content__charts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.content__data {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;

    border-radius: 2rem;
    background: linear-gradient(153deg, #fff 0%, rgba(255, 255, 255, 0.5) 100%);
    backdrop-filter: blur(20px);
}

.content__data__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}

.content__data__groups {
    display: flex;
    align-items: center;
}

.content__data__group {
    padding: 0.8rem 1.6rem;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-2);

    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-gray-50);
    cursor: pointer;
    text-transform: uppercase;
    margin-right: 0.4rem;

    position: relative;
}

.content__data__group span {
    margin-left: 0.6rem;

    display: flex;
    align-items: center;
}

.content__data__group.active {
    background-color: var(--color-blue-50);
    color: var(--color-gray-100);
    border-top-right-radius: 0.4rem;
}

.content__data__group.active::before {
    position: absolute;
    top: -0.5rem;
    left: 0;
    content: "";
    width: 3.2rem;
    height: 0.55rem;
    background-color: var(--color-blue-50);
    border-top-left-radius: 2rem;
    border-top-right-radius: 5rem;
}

.content__data__group.active span svg path {
    stroke: var(--color-gray-100);
}

/* infor */
.infor {
    width: var(--width-infor);
    background-color: var(--color-bg-0);
    min-height: 100vh;
}
