@import url(./declare.css);
@import url(./component.css);
@import url(./dashboard.css);

@font-face {
    font-family: "SF Pro";
    src: url(../fonts/SF-Pro.ttf);
}

@font-face {
    font-family: "SF Mono";
    src: url(../fonts/SF-Mono-Medium.otf);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-family);
    font-size: 62.5%;

    font-weight: normal;
    line-height: 140%;
}

body {
    font-size: 10px;
    color: var(--color-gray-50);

    transition: all 0.3s ease-in-out;
}

input,
textarea,
button {
    font-family: var(--font-family);
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    object-fit: cover;
}

p {
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: var(--width-container);
    min-height: 100vh;
    align-items: stretch;
    background: var(--color-bg-2);

    margin: 0 auto;
}

.left {
    width: var(--width-sidebar);
    display: flex;
    padding: 24px 0px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.sidebar {
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    border-radius: 20px;
    /* background: var(--color-bg-0); */
    background: linear-gradient(180deg, #4387ff 20.22%, #1b69f3 100%);
    box-shadow: 0px 0px 12px 0px rgba(207, 220, 254, 0.68) inset;
}

.sidebar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 24px;
}

.sidebar__logo img {
    width: 40px;
    height: 40px;

    margin-bottom: 8px;
}

.sidebar__logo h3 {
    color: var(--color-gray-100);

    font-size: 12px;

    font-weight: 700;
    line-height: 124%;
    letter-spacing: 0.48px;
}

.navbar {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.navbar__item {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    align-items: center;

    cursor: pointer;
}

.navbar__item--icon {
    padding: 12px;
    display: flex;
    align-items: center;
    border-radius: 20px;

    background: linear-gradient(135deg, rgba(190, 232, 250, 0.16) 2.43%, rgba(255, 255, 255, 0.06) 100%);
    background-blend-mode: SCREEN;
    backdrop-filter: blur(10px);

    margin-bottom: 8px;

    position: relative;
}

.navbar__item--icon svg {
    width: 52px;
    height: 52px;
}

.navbar__item--icon .svg_button path {
    fill: inherit;
    stroke: var(--color-gray-100);
}

.navbar__item--title {
    color: #fff;
    font-size: 14px;
    opacity: 0.7;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
}

.navbar__item.active .navbar__item--icon {
    background: linear-gradient(135deg, rgba(190, 211, 250, 0.6) 2.43%, rgba(255, 255, 255, 0.11) 100%);
    background-blend-mode: screen;
    box-shadow: 5px 12px 20px 0px rgba(42, 142, 234, 0.52);
    backdrop-filter: blur(10px);
}

.navbar__item.active .navbar__item--icon .svg_button path {
    fill: inherit;
    stroke: var(--color-gray-100);
}

.navbar__item.active .navbar__item--title {
    color: var(--color-bg-0);
    opacity: 2;
}

.navbar__bug {
    margin-top: auto;
    padding: 24px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar__bug--icon {
    display: flex;
    padding: 12px;

    border-radius: 14px;
    background: linear-gradient(135deg, rgba(190, 232, 250, 0.15) 2.43%, rgba(255, 255, 255, 0.04) 100%);
    background-blend-mode: screen;
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-bg-0);
}

.navbar__bug--icon svg {
    width: 24px;
    height: 24px;
}

.navbar__bug--icon svg path {
    stroke: var(--color-gray-100);
}

.navbar__item--badge {
    display: flex;
    width: 18px;
    height: 18px;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    position: absolute;
    right: -5px;
    top: -5px;

    border-radius: 100px;
    background: var(--color-green-50);

    color: var(--color-green-05);

    font-size: 10px;
    font-weight: 700;
    line-height: 160%;
}

.center {
    width: var(--width-dashboard);

    display: flex;
    padding: 24px;
    flex: 1;
}

.right {
    width: 260px;

    display: flex;
    padding: 24px 16px 24px 0;
}

.infor {
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--color-bg-0);
    border-radius: 16px;
}

.infor__head {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-gray-90);
}

.infor__top {
    display: flex;
    flex-direction: column;
}

.infor__avatar {
    padding: 8px;
    display: flex;
    height: 200px;
    position: relative;

    overflow: hidden;
}

.infor__avatar--name {
    z-index: 2;
    position: absolute;
    bottom: 16px;
    left: 0;
    color: var(--color-gray-100);

    font-size: 16px;
    width: 100%;
    text-align: center;

    font-weight: 700;
    line-height: 150%;
}

.overlay {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 15px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.99%, rgba(0, 0, 0, 0.5) 88.89%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.infor__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.infor__detail {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
}

.infor__detail--item {
    display: flex;
    align-items: center;

    margin-bottom: 12px;
}

.infor__detail--item__title {
    width: 80px;
    margin-right: 8px;
    color: var(--color-gray-10);
    font-size: 14px;

    font-weight: 510;
    line-height: 140%;
}

.infor__detail--item__content {
    flex: 1;

    color: var(--color-gray-50);

    font-size: 14px;

    font-weight: 510;
    line-height: 140%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infor__detail__socials {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.infor__detail__social {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    cursor: pointer;
}

.infor__detail__button {
    display: flex;
    justify-content: flex-end;
}

.infor__title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 16px;
}

.infor__title--icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.infor__title img path {
    fill: var(--color-blue-40);
}

.infor__title .infor__title--text {
    color: var(--color-gray-20);
    text-transform: uppercase;
    font-size: 14px;

    font-weight: 700;
    line-height: 140%;
}

.infor__update {
    display: none;
}

.infor__update--list {
    display: flex;
    flex-direction: column;
}

.infor__update--item,
.infor__note--content__update {
    display: flex;
    padding: 6px 8px;
    align-items: center;

    margin-bottom: 12px;
    border-radius: 4px;

    background: var(--surface-background);
    border: 2px solid transparent;
    outline: none;

    color: var(--text-text-hi);

    font-size: 14px;

    font-weight: 510;
    line-height: 140%;
}

.infor__update--item:focus,
.infor__note--content__update:focus {
    border: 2px solid var(--accent-brand);
}

.infor__note--content__update {
    display: none;
}

.infor__update__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 16px 16px 16px;
}

.infor__update__buttons {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.infor__update__buttons button:not(:last-child) {
    margin-right: 8px;
}

.infor__note {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    border-bottom: 1px solid var(--color-gray-90);
}

.infor__note--content {
    overflow: hidden;
    color: var(--color-gray-30);
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 14px;

    font-weight: 510;
    line-height: 140%;

    margin-bottom: 16px;
}

.infor__note--button {
    display: flex;
    justify-content: flex-end;
}

.infor__history {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    border-bottom: 1px solid var(--color-gray-90);
}

.infor__history--list {
    display: flex;
    flex-direction: column;
    height: 154px;
}

.infor__history--item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

.infor__history--item__number {
    width: 11px;
    color: var(--color-gray-50);

    font-size: 14px;

    font-weight: 510;
    line-height: 140%;

    margin-right: 8px;
}

.infor__history--item__name {
    width: 68px;
    flex-direction: column;
    color: var(--color-gray-20);

    font-size: 14px;

    font-weight: 510;
    line-height: 140%;
    margin-right: 8px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.infor__history--item__date {
    color: var(--color-gray-60);

    font-size: 12px;

    font-weight: 510;
    line-height: 130%;
}

.infor__history--item__button {
    margin-left: auto;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 12px;
}

.infor__history--item__button img path {
    fill: var(--color-gray-10);
}

.infor__script {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    position: relative;

    margin-bottom: 20px;
}

.infor__script__checkbox {
    position: absolute;
    top: 25px;
    left: 16px;
}

.infor__run {
    margin-top: auto;
    display: flex;
    flex-direction: column;

    padding: 24px 16px;
}

.infor__run--content {
    color: var(--text-text-hi);
    font-size: 14px;
    font-weight: 510;
    line-height: 140%;

    margin-bottom: 8px;
}

.infor__run--content span {
    font-weight: 700;
}
